# This is a good default: files that are auto-detected by git to be text are
# converted to the platform-native line ending (LF on Unix, CRLF on Windows)
# in the working tree and to LF in the repository.
#
* text=auto

# Use `eol=crlf` for files that should have the CRLF line ending both in the
# working tree (even on Unix) and in the repository.
#
#*.bat text eol=crlf

# Use `eol=lf` for files that should have the LF line ending both in the
# working tree (even on Windows) and in the repository.
#
#*.sh text eol=lf

# Use `binary` to make sure certain files are never auto-detected as text.
#
#*.png binary
yaml-cpp/yaml-cpp/include/yaml-cpp symlink=dir
yaml-cpp/yaml-cpp/src/contrib symlink=dir
yaml-cpp/yaml-cpp/src/binary.cpp symlink=file
yaml-cpp/yaml-cpp/src/collectionstack.h symlink=file
yaml-cpp/yaml-cpp/src/convert.cpp symlink=file
yaml-cpp/yaml-cpp/src/depthguard.cpp symlink=file
yaml-cpp/yaml-cpp/src/directives.cpp symlink=file
yaml-cpp/yaml-cpp/src/directives.h symlink=file
yaml-cpp/yaml-cpp/src/emit.cpp symlink=file
yaml-cpp/yaml-cpp/src/emitfromevents.cpp symlink=file
yaml-cpp/yaml-cpp/src/emitter.cpp symlink=file
yaml-cpp/yaml-cpp/src/emitterstate.cpp symlink=file
yaml-cpp/yaml-cpp/src/emitterstate.h symlink=file
yaml-cpp/yaml-cpp/src/emitterutils.cpp symlink=file
yaml-cpp/yaml-cpp/src/emitterutils.h symlink=file
yaml-cpp/yaml-cpp/src/exceptions.cpp symlink=file
yaml-cpp/yaml-cpp/src/exp.cpp symlink=file
yaml-cpp/yaml-cpp/src/exp.h symlink=file
yaml-cpp/yaml-cpp/src/indentation.h symlink=file
yaml-cpp/yaml-cpp/src/memory.cpp symlink=file
yaml-cpp/yaml-cpp/src/node.cpp symlink=file
yaml-cpp/yaml-cpp/src/node_data.cpp symlink=file
yaml-cpp/yaml-cpp/src/nodebuilder.cpp symlink=file
yaml-cpp/yaml-cpp/src/nodebuilder.h symlink=file
yaml-cpp/yaml-cpp/src/nodeevents.cpp symlink=file
yaml-cpp/yaml-cpp/src/nodeevents.h symlink=file
yaml-cpp/yaml-cpp/src/null.cpp symlink=file
yaml-cpp/yaml-cpp/src/ostream_wrapper.cpp symlink=file
yaml-cpp/yaml-cpp/src/parse.cpp symlink=file
yaml-cpp/yaml-cpp/src/parser.cpp symlink=file
yaml-cpp/yaml-cpp/src/ptr_vector.h symlink=file
yaml-cpp/yaml-cpp/src/regex_yaml.cpp symlink=file
yaml-cpp/yaml-cpp/src/regex_yaml.h symlink=file
yaml-cpp/yaml-cpp/src/regeximpl.h symlink=file
yaml-cpp/yaml-cpp/src/scanner.cpp symlink=file
yaml-cpp/yaml-cpp/src/scanner.h symlink=file
yaml-cpp/yaml-cpp/src/scanscalar.cpp symlink=file
yaml-cpp/yaml-cpp/src/scanscalar.h symlink=file
yaml-cpp/yaml-cpp/src/scantag.cpp symlink=file
yaml-cpp/yaml-cpp/src/scantag.h symlink=file
yaml-cpp/yaml-cpp/src/scantoken.cpp symlink=file
yaml-cpp/yaml-cpp/src/setting.h symlink=file
yaml-cpp/yaml-cpp/src/simplekey.cpp symlink=file
yaml-cpp/yaml-cpp/src/singledocparser.cpp symlink=file
yaml-cpp/yaml-cpp/src/singledocparser.h symlink=file
yaml-cpp/yaml-cpp/src/stream.cpp symlink=file
yaml-cpp/yaml-cpp/src/stream.h symlink=file
yaml-cpp/yaml-cpp/src/streamcharsource.h symlink=file
yaml-cpp/yaml-cpp/src/stringsource.h symlink=file
yaml-cpp/yaml-cpp/src/tag.cpp symlink=file
yaml-cpp/yaml-cpp/src/tag.h symlink=file
yaml-cpp/yaml-cpp/src/token.h symlink=file
